NEXT_PUBLIC_DISABLE_INITIAL_ANIMATION=true
BASIC_AUTH_USERNAME=your_username
BASIC_AUTH_PASSWORD=your_password
REVALIDATE_SECRET=your_secret_token
AWS_SES_REGION=your_region
AWS_SES_ACCESS_KEY_ID=your_access_key_id
AWS_SES_SECRET_ACCESS_KEY=your_secret_access_key
