@media (max-width: 640px) {
  header h1 {
    font-size: 0.9rem;
  }
  main {
    padding: 0;
  }
  nav ul {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  button {
    padding: 0.5rem 1rem;
  }

  .blog-container {
    padding-left: 0;
    padding-right: 0;
  }

  .main-content {
    padding: 0;
    background: transparent;
    border: none;
    box-shadow: none;
  }

  .prose p,
  .prose li {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 0.5rem;
  }
  .chat-icon {
    width: 64px;
    height: 64px;
  }

  .chat-bubble {
    background-color: #dbeafe;
  }

  .dark .chat-bubble {
    background-color: #1f2937;
  }

  .chat.left .chat-bubble::after {
    border-right-color: #dbeafe;
  }

  .chat.right .chat-bubble::after {
    border-left-color: #dbeafe;
  }

  .dark .chat.left .chat-bubble::after {
    border-right-color: #1f2937;
  }

  .dark .chat.right .chat-bubble::after {
    border-left-color: #1f2937;
  }
}
